body,
html,
*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
}

h1{
    text-align: center;
    font-size: 2vw;
    font-family: "Quicksand", sans-serif;
}
.container{
    flex-direction: row;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.card{
    width: 26%;
    border: 2px solid;
    border-color: black;
    margin: 2%;
    padding: 1rem;
    box-shadow: .9rem .9rem  lightblue;
    justify-content: space-around;
}


.img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}