body,
html,
*{
    font-size: 10px;
    box-sizing: border-box;
    margin: 0;
    padding:0;
}
.container{
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 26%;;
    flex-wrap: wrap;
    background-color: rgb(190, 177, 159);
    display: flex;
}
.card{
    width: 26%;
    height: 5%;
    border: 2px;
    border-color: black;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 2rem 0;
}

.card-image{
    height: 40%;
    object-fit: cover;
}

.card-header{
font-size: 4rem;
margin-top: 0.5rem;
}
.card-desc{
    margin-bottom: 1.2rem;
}